* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    /* 
    在移动端切换的时候，会有一个高亮背景过渡。（就是先变成绿色的一下，然后再变成灰色）
    点击按钮，进行切换， 点击高亮我们需要清除清除  设置为transparent 完成透明 
    */
    -webkit-tap-highlight-color: transparent;
    /* 开启怪异盒模型 */
    box-sizing: border-box;
}

/*禁用长按页面时的弹出菜单,ios的浏览器网页中，如果出现了img或者a标签，长按就会出现苹果的系统菜单。*/
img,
a {
    -webkit-touch-callout: none;
}
.container{
    width: 95%;
    margin: 0 auto;
}